<div class="component__inner submenu__inner">
  {{> component this}} 

  <div class="submenu__main">
    <img class="submenu__background" src="{{_backgroundImage}}" />

    <div class="submenu__items">
      <div class="submenu__items-container">

        {{#each _items}}
          <a href="{{_href}}" class="button submenu__link">
            <div class="submenu__item"
                  style="width: {{_appearance._width}};height: {{_appearance._height}};top: {{_appearance._top}};left: {{_appearance._left}};background: url('{{_graphic.src}};'">
              <div>{{title}}</div>
            </div>
          </a>
        {{/each}}

      </div>
    </div>

  </div> 

</div>
