<div class="component__inner submenu__inner">
  {{> component this}} 

  <div class="submenu__main">
    <img class="submenu__background" src="{{_backgroundImage}}" alt=""/>

    <div class="submenu__items">
      <div class="submenu__items-container">

        {{#each _items}}
          {{!-- <a href="{{_href}}" class="button submenu__link"> --}}
            <div class="submenu__item js-menu-item"
                  data-href="{{_href}}"
                  data-index="{{@index}}"
                  {{#if _graphic.alt}}aria-label="{{_graphic.alt}}"{{else}}aria-hidden="true" alt=""{{/if}}
                  style="width: {{_appearance._width}};height: {{_appearance._height}};top: {{_appearance._top}};left: {{_appearance._left}};background: url('{{_graphic.src}}');background-size: contain;">
              <div class="submenu__item-title">
                {{title}}
                <div class="icon icon-tick"> </div>
              </div>
            </div>
            <div class="submenu__item-over js-menu-item-over"
                  data-href="{{_href}}"
                  data-index="{{@index}}"
                  {{#if _graphic.alt}}aria-label="{{_graphic.alt}}"{{else}}aria-hidden="true" alt=""{{/if}}
                  style="width: {{_appearance._width}};height: {{_appearance._height}};top: {{_appearance._top}};left: {{_appearance._left}};background: url('{{_graphic.over}}');background-size: contain;">
              <div class="submenu__item-title">
                {{title}}
              </div>
            </div>
          {{!-- </a> --}}
        {{/each}}

      </div>
    </div>

    <div class="submenu__item-titles">
      {{#each _items}}
          <div data-href="{{_href}}"
            data-index="{{@index}}"
            class="submenu__item-title js-menu-mobile-item"
            aria-label="{{title}}">
            {{title}}
            <div class="icon icon-tick"> </div>
          </div>
        {{/each}}
    </div>

  </div> 

</div>
